<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/_admin_layout :: layout(
        pageTitle='管理メニュー',
        activeMenu='menu',
        content=~{::section}
      )}">

<section>
	<h1>管理メニュー</h1>

	<ul>
		<li><a th:href="@{/admin/books}" data-pjax>書籍一覧（管理）</a></li>
		<li><a th:href="@{/admin/users}" data-pjax>利用者一覧</a></li>
		<li><a th:href="@{/admin/rentals/current}" data-pjax>貸出状況一覧</a></li>
		<li><a th:href="@{/admin/rentals/history}" data-pjax>貸出履歴一覧</a></li>
	</ul>
</section>

</html>
