<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/_user_layout :: layout(
        pageTitle='利用者メニュー',
        activeMenu='menu',
        content=~{::section}
      )}">
<section>
	<h1>利用者メニュー</h1>

	<p>
		ようこそ、
		<span th:text="${loginUser.userName}">利用者名</span> さん
	</p>

	<ul>
		<li><a th:href="@{/user/books}" data-pjax>書籍検索・一覧</a></li>
		<li><a th:href="@{/user/rentals/current}" data-pjax>自分の貸出中一覧</a></li>
		<li><a th:href="@{/user/rentals/history}" data-pjax>自分の貸出履歴</a></li>
	</ul>
</section>
</html>
